In [7]:
# リストワイズ/ペアワイズ消去
import numpy as np
from numpy import nan as NA
import pandas as pd
np.random.seed(0)

sample_data_frame = pd.DataFrame(np.random.rand(10, 4))

sample_data_frame.iloc[1, 0] = NA
sample_data_frame.iloc[2, 2] = NA
sample_data_frame.iloc[5:, 3] = NA

sample_data_frame[[0, 2]].dropna()

          0         2
0  0.548814  0.602763
3  0.568045  0.071036
4  0.020218  0.778157
5  0.978618  0.461479
6  0.118274  0.143353
7  0.521848  0.264556
8  0.456150  0.018790
9  0.612096  0.943748